* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body {
    background-color: #282828;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
}

header {
    display: flex;
    background-color: #000000;
    padding-top: 10px;
    flex-wrap: row wrap;
    justify-content: space-between;
}

#nav-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 200px;
    
}

.link-info {
    color: #f9ffc1;
    text-decoration: none;
}

#btn-teste {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.btn-login {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 8px;
    align-items: flex-end;
    background-color: #b9c82b;
}

#items-login {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}

#items-logo {

}


#logo {
    width: 100px;
    height: 90px;

}

#div-banner {
    background-image: url('/imagens/banner2.avif');
    background-position: 100px;
    height: 400px;

}

.gym-banner {
    width: 49vw;
    height: 400px;
}

#btn-SaibaMais {
    position: relative;

}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
}

.card-produtos {
    display: flex;
    background-color: #fbffd7;
    border-radius: 5px;
    margin: 15px;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

}

.info {

}

.card-produtos > img {
    border-radius: 5px;
    width: 100%;

}

footer {
    display: flex;
    color: #f9ffc1;
    height: 300px;
    margin-top: 30px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

#footer-logo {
    font-size: 10px;
    
}

#footer-endereco {
    font-size: 10px;
}

#footer-central{
    font-size: 10px;
}

#icon-redes {

}

.icon-rd {
    background-color: #b9c82b;
    padding: 6px;
    border-radius: 9px;
}