* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

html,
body {
    min-height: 100%;
}

body {
    background-color: #282828;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-flow: row wrap;
}

header {
    display: flex;
    background-color: #000000;
    padding-top: 10px;
    flex-wrap: row wrap;
    justify-content: space-around;
    flex-flow: row wrap;
}

#nav-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;

}

.link-info {
    color: #f9ffc1;
    text-decoration: none;
}

#btn-teste {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.btn-login {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 8px;
    align-items: flex-end;
    background-color: #b9c82b;
   
}

#items-login {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}

#items-logo {}


#logo {
    width: 100px;
    height: 90px;

}

#div-banner {
    width: 100vw;

}

.gym-banner {
    display: flex;
    width: 100vw;

}

#titulo-planos{
    display: block;
    padding: 50px;

}

.subtitulo-home {
    display: block;
    color: #f9ffc1;
    font-size: 25px;
}

.titulo-home{
display: block;
color: #b9c82b;
font-size: 60px;
}

#btn-SaibaMais {}

section {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;
    
}

.card-produtos {
    display: flex;
    background-color: #fbffdfec;
    box-shadow: 0 4px 8px 0 rgba(226, 226, 226, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    border-radius: 10px;
    border-color: #9fae18;
    margin: 15px;
    width: 300px;
    height: 450px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    width: 100%;
}

.card-produtos>img {
    
    width: 100%;

}

.img-card {
    display: flex;
    
    width: 20px;
    align-items: center;
    justify-content: center;
}

.titulo-card-um{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtitulo-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.preco-card {
    
}

.btn-matricula-card {
    background-color: #b9c82b;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    text-align: center;
}

.div-plano{
    padding: 20px;

}

.plano-card{
    
   
    
}

li {
    display: inline-block;
    list-style-type: none;
    
}


footer {
    display: flex;
    color: #f9ffc1;
    letter-spacing: 1px;
    height: 300px;
    margin-top: 30px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

#footer-logo {
    font-size: 12px;
    text-align: center;
}

#img-logo {
    width: 70px;
    height: 60px;
}

#footer-endereco {

    font-size: 12px;
    text-align: center;
}

#footer-central {
    text-align: center;
    font-size: 12px;
}

#footer-horarios {
    text-align: center;
    font-size: 12px;
}

#icon-redes {}

.icon-rd {
    background-color: #b9c82b;
    padding: 6px;
    border-radius: 9px;
}